@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,600&family=Fraunces:ital,wght@0,700;0,900;1,700;1,900&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Libre+Franklin:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&family=Outfit:wght@300;400;600&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Fraunces", serif;
}

html {
  font-size: 62.5%;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: bo;
      -ms-flex-align: bo;
          align-items: bo;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 2rem;
  background: #3dbeff;
  width: 100%;
}

.toggle .hamber {
  display: none;
}

.toggle .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.toggle .menu a {
  text-decoration: none;
  font-size: 2rem;
  color: #f3ffff;
  padding: 1rem 1.5rem;
  background: transparent;
  border-radius: 15px;
}

.toggle .menu a:hover {
  background: #6eceff;
}

.toggle .menu a:nth-of-type(4) {
  background: #6eceff;
}

.header {
  width: 100%;
  background: #3dbeff;
  padding: 1rem 0 0 0;
}

.header h1 {
  padding: 1rem 2rem;
  font-size: 6rem;
  color: #f3ffff;
  text-align: center;
  margin-top: 3rem;
}

.header .head-img {
  position: relative;
  width: 100%;
  background-size: 80%;
  background-image: url(../images/desktop/image-header.jpg);
  min-height: 500px;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.header .head-img img {
  height: 200px;
  position: absolute;
  left: 50%;
  top: calc(50% - 75px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section1 {
  width: 100%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .sec1-text {
  padding: 7rem;
  width: 50%;
  text-align: left;
}

.section1 .sec1-text h2 {
  color: #252f41;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.3;
}

.section1 .sec1-text p {
  font-size: 1.8rem;
  color: #b2b0b9;
  line-height: 1.5;
  margin: 2rem 0;
}

.section1 .sec1-text span {
  font-size: 1.6rem;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.section1 .sec1-text span::before {
  content: "";
  position: absolute;
  background: yellow;
  width: 120%;
  height: 10px;
  border-radius: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -5;
  bottom: -20%;
  opacity: 0;
}

.section1 .sec1-text span:hover::before {
  opacity: 1;
}

.section1 .sec1-img {
  width: 50%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  min-height: 500px;
  background-image: url(../images/desktop/image-transform.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2 .sec2-img {
  width: 50%;
  min-height: 500px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-image: url(../images/desktop/image-stand-out.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section2 .sec2-text {
  padding: 7rem;
  width: 50%;
  text-align: left;
}

.section2 .sec2-text h2 {
  color: #252f41;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.3;
}

.section2 .sec2-text p {
  font-size: 1.8rem;
  color: #b2b0b9;
  line-height: 1.5;
  margin: 2rem 0;
}

.section2 .sec2-text span {
  font-size: 1.6rem;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.section2 .sec2-text span::before {
  content: "";
  position: absolute;
  background: red;
  width: 120%;
  height: 8px;
  border-radius: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -5;
  bottom: -10%;
  opacity: 0;
}

.section2 .sec2-text span:hover::before {
  opacity: 0.7;
}

.section3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 .sec3-cherry {
  width: 50%;
  min-height: 500px;
  position: relative;
  background-image: url(../images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.section3 .sec3-orange {
  width: 50%;
  min-height: 500px;
  position: relative;
  background-image: url(../images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.sec3-cherry .sec3-text {
  width: 70%;
  position: absolute;
  text-align: center;
  padding: 3rem 1rem;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sec3-cherry .sec3-text h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #25574d;
  margin-bottom: 2rem;
}

.sec3-cherry .sec3-text p {
  font-size: 1.8rem;
  color: #25574d;
}

.sec3-orange .sec3-text {
  width: 70%;
  position: absolute;
  text-align: center;
  padding: 3rem 1rem;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sec3-orange .sec3-text h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #25574d;
  margin-bottom: 2rem;
}

.sec3-orange .sec3-text p {
  font-size: 1.8rem;
  color: #25574d;
}

.section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 6rem 3rem;
}

.section4 h2 {
  font-size: 2rem;
  color: #a8acae;
  padding-top: 3rem;
}

.section4 .sec4-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 0 2rem;
  gap: 3rem;
}

.sec4-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.sec4-info .info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 4.5rem 0;
}

.sec4-info .info p {
  font-size: 1.5rem;
  color: #a8acae;
}

.sec4-info .info h2 {
  font-size: 2rem;
  color: black;
}

.sec4-info .info span {
  font-size: 1.3rem;
  color: #a8acae;
}

.section5 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

.section5 .sec5 {
  width: 100%;
  min-height: 400px;
}

.section5 .sec5-img1 {
  background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section5 .sec5-img2 {
  background-image: url(../images/desktop/image-gallery-orange.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section5 .sec5-img3 {
  background-image: url(../images/desktop/image-gallery-cone.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section5 .sec5-img4 {
  background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #90d4c5;
  padding: 6rem 0;
}

.footer .eee {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.footer .foot-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 2rem 0 4rem 0;
}

.footer .foot-menu a {
  padding: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: #55998a;
}

.footer .foot-menu a:hover {
  color: white;
}

.footer .foot-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.footer .foot-icon a img {
  width: 30px;
  height: 30px;
}

.footer .foot-icon a img:hover {
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}

@media screen and (max-width: 768px) {
  .toggle .hamber {
    display: block;
    cursor: pointer;
    z-index: 15;
  }
  .toggle .hamber:hover {
    -webkit-filter: contrast(50%);
            filter: contrast(50%);
  }
  .toggle .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    padding: 4rem 12rem;
    position: absolute;
    top: 100px;
    right: 20px;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .toggle .menu.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .toggle .menu::before {
    content: "";
    position: absolute;
    border: 30px solid blue;
    border-color: transparent white transparent transparent;
    width: 0px;
    height: 0px;
    right: 0%;
    bottom: 90.5%;
    z-index: 8;
  }
  .toggle .menu a {
    color: black;
    opacity: 0.5;
  }
  .header h1 {
    font-size: 4rem;
  }
  .header .head-img {
    background-image: url(../images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header .head-img img {
    top: 30%;
    height: 170px;
  }
  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section1 .sec1-img {
    width: 100%;
  }
  .section1 .sec1-text {
    width: 100%;
    max-width: 55ch;
    padding: 4rem;
    text-align: center;
  }
  .section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section2 .sec2-text {
    width: 100%;
    max-width: 60ch;
    text-align: center;
  }
  .section2 .sec2-img {
    width: 100%;
  }
  .section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section3 .sec3-cherry {
    width: 100%;
  }
  .section3 .sec3-orange {
    width: 100%;
  }
  .section4 h2 {
    font-size: 4rem;
    font-weight: 400;
    opacity: 0.8;
    text-align: center;
  }
  .section4 .sec4-info {
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .section4 .sec4-info img {
    width: 70px;
    height: 70px;
    margin: 2rem;
    margin-top: 6rem;
  }
  .section4 .sec4-info p {
    font-size: 1.8rem;
    max-width: 35ch;
  }
  .section5 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    background: #90d4c5;
  }
  .section5 .sec5 {
    min-width: 100%;
    min-height: 300px;
  }
  .section5 .sec5-img1 {
    background-image: url(../images/mobile/image-gallery-cone.jpg);
    background-size: contain;
    background-position: bottom right;
  }
  .section5 .sec5-img2 {
    background-image: url(../images/mobile/image-gallery-orange.jpg);
    background-size: contain;
    background-position: bottom left;
  }
  .section5 .sec5-img3 {
    background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
    background-size: contain;
    background-position: top right;
  }
  .section5 .sec5-img4 {
    background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
    background-size: contain;
    background-position: top left;
  }
}

@media screen and (max-width: 425px) {
  .toggle .menu {
    padding: 3rem 8rem;
  }
}
/*# sourceMappingURL=mainn.css.map */